``` < !DOCTYPE html><html lang="ja"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-add分scale=1.0"><title>FashionablyLate</title><link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Noticia+Text&display=swap" rel="stylesheet"><link rel="stylesheet" href="{{ asset('css/sanitize.css') }}"><link rel="stylesheet" href="{{ asset('css/common.css') }}">@yield('css') </head><body><header class="header"><div class=header__inner><div class="header-utilities"><a class=header__logo href="/">FashionablyLate</a><nav><ul class="header-nav"><li class="header-nav__item"><a class="header-nav__link" href="/register">register</a></li></ul></nav></div></div></header><main>@yield('content') </main></body></html>``` ``` * {
    font-family: "Noticia Text", serif;
    font-weight: 400;
    font-style: normal;
}

.header {
    background: #fff;
    border-bottom: 1px solid #d9c9bb;
}

.header__inner {
    text-align: center;
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header__logo {
    color: #8b7969;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav__link {
    color: #8b7969;
    text-decoration: none;
    border: 1px solid #e1ded9;
    background: #f9f7f5;
}

```