* {
    font-family: "Noticia Text", serif;
    font-weight: 400;
    font-style: normal;
}

.header {
    background: #fff;
    border-bottom: 1px solid #d9c9bb;
}

.header__inner {
    text-align: center;
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    
    
}

.header__logo {
    color: #8b7969;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    
}